@model Ticketero.Models.Ticket

@{
    ViewBag.Title = "Eliminar Ticket";
}

<h2>Eliminar Ticket</h2>

<h3>Estas seguro que deseas eliminar el Ticket seleccionado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Ticket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caja.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caja.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
